html {
  font-size: 10px;
  background: url("../Drum-Kit/images/aditya-chinchure-494048-unsplash.jpg") center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.headingbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-end;
  min-height: 25vh
}


h1 {
  flex: 0 1 auto;
  font-size: 4em;
  text-align: center;
  color: #d710fd;
  text-shadow: 0 0 25px black;
}

.keys {
  display: flex;
  flex-flow: row wrap;
  min-height: 75vh;
  align-items: flex-start;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.6);
  text-shadow: 0 0 .5rem black;
  flex: initial;
}

.playing {
  transform: scale(1.1);
  border-color: #d710fd;
  box-shadow: 0 0 1rem #d710fd;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #d710fd;
}

@media (max-width: 968px) {
  .key {
    border: .2rem solid black;
    font-size: 1.1rem;
    width: 8rem;
    text-shadow: 0 0 .5rem black;
    padding: .75rem .25rem;
  }

  h1 {
    font-size: 2rem;
  }

  kbd {
    font-size: 2rem;
  }

  .sound {
    font-size: .9rem;
  }
}